.slideshow-container {
  max-width: 50%;
  min-width: 50%;
  position: relative;
}

.prev,
.next {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: white;
  position: absolute;
  top: 40%;
  color: gray;
  font-weight: bold;
  font-size: 16px;
}

.prev {
  margin-left: 15px;
}

.next {
  right: 0;
  margin-right: 15px;
}

.prev:hover,
.next:hover {
  color: #3976dc;
}
