header {
  background-color: #fa320a;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

img {
  cursor: pointer;
  margin: 10px;
}

fa-icon {
  position: absolute;
  top: 23px;
  padding: 10px 17px;
  color: white;
}

input {
  border-radius: 30px;
  height: 33px;
  background-color: rgb(141, 20, 20);
  border: none;
  color: white;
  margin: 10px;
  padding-left: 35px;
  width: 300px;
}

@media (max-width: 568px) {
  input {
    width: 80%;
  }
}

::placeholder {
  color: white;
}
