<div class="news-grid">
  <app-news-slider [newsList]="sliderNews"></app-news-slider>
  <app-news-card [news]="mainNews1"></app-news-card>
  <app-news-card [news]="mainNews2"></app-news-card>
</div>

<app-movie-slider
  [title]="'NEW & UPCOMING MOVIES'"
  [movies]="movies"
></app-movie-slider>

<div class="movie-list-grid">
  <app-movie-list
    [title]="'Popular streaming movies'"
    [movies]="movies"
  ></app-movie-list>
  <app-movie-list
    [title]="'MOST POPULAR TV ON RT'"
    [movies]="movies"
  ></app-movie-list>
  <app-movie-list
    [title]="'NEW TV THIS WEEK'"
    [movies]="movies"
  ></app-movie-list>
</div>
