<div class="movie-score-card-container">
  <div>
    <h2 class="movie-title">
      {{ movie?.title?.toUpperCase() }}
    </h2>
  </div>

  <div class="movie-info">
    <p>PG-13, 2022, Adventure/Action, 1h 52m</p>
  </div>

  <div class="score-container">
    <div class="critic-score-container">
      <div class="movie-score">
        <img [src]="defineTomatoImage()" height="40" />
        <span>{{ movie?.criticScore }}%</span>
      </div>
      <p class="critic-score-title">TOMATOMETER</p>
    </div>
    <div class="audience-score-container">
      <div class="movie-score">
        <img [src]="freshAudienceScoreIconUrl" height="40" />
        <span>{{ movie?.criticScore }}%</span>
      </div>
      <p class="audience-score-title">AUDIENCE SCORE</p>
    </div>
  </div>
</div>
